
.img1{
	padding-top: 30px;
	height: 300px;
	width:400px;
	padding-left: 15px;
	padding-right: 15px;
}

.img2 {
	padding-top: 30px;
	height: 320px;
	width: 700px;
}

.img3 {
	padding-top: 30px;
	height: 270px;
	width: 400px;
}

.img4 {
	padding-top: 30px;
	height: 300px;
	width: 500px;
}

.img6 {
	padding-top:30px;
	height: 300px;
	width: 450px;
}

.header {
	font-family: Anton;
	color: white;
	font-size: 50px;
	border-style: double;
	border-color: black;
	background-color: black;
	border-width: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 50px;
}
	
.grid {
	font-family: Josefin Sans;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 0px;
	border: 2px #C2DCE8 solid;
	height: 80px;
	width: 4fr;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-row-gap: 2%;
	grid-column-gap: 10%;
}

.box {
	border: 2px black solid;
	border-radius: 5px; 
	background-color: white;
	color: black;
	padding: 10px;
}

.h1 {
	font-family: Josefin Sans;
}

.h2 { 
font-family: Josefin Sans;
margin-left: 200px;
margin-right: 200px;
}

.h3 {
font-family: Josefin Sans;
margin-left: 200px;
margin-right: 200px;
padding-top: 15px;
font-size: 20px;
}

/* visited link*/
a:visited  {
	color: black;
}

/* unvisited link*/
a:link {
	color:black;
}

/* mouse over link*/
a:hover {
	color: gray;
}

/* selected link */
a:active {
    color: blue;
}

.background {
	color: black;
	background-color: #C2DCE8;
}